.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--text-color);
  transition: margin-right 0.4s;
}

.app.active-fold {
  margin-right: 30%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid transparent;
	-webkit-text-fill-color: var(--text-color);
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

.customize {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  transform: translateX(24rem);
  align-items: flex-end;
  transition: 0.4s;
  z-index: 2;
}

.customize .edit {
  cursor: pointer;
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--background-color-c);
}

.customize.active-menu {
  transform: translateX(0);
}

.customize .menu {
  width: 24rem;
  padding: 10px;
  height: 100vh;
  background-color: var(--background-color-c);
}

.menu .title {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 10px;
  margin-top: 0;
  font-weight: 500;
  color: var(--background-color-2);
}

.menu .menu-wrapper {
  position: relative;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 20px);
  height: calc(100% - 40px);
  margin: 10px;
  border-radius: 16px;
  background-color: var(--background-color-f);
}

.menu .menu-wrapper::-webkit-scrollbar {
  width: 4px;
}

.menu .menu-wrapper::-webkit-scrollbar-track {
  margin-block: 10px;
  border-radius: 99px;
}

.menu .menu-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--background-color-i);
  border-radius: 99px;
  transition: 0.4s;
}

.menu .menu-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-color-h);
}

.menu .menu-wrapper .menu-content {
  /* width: calc(100% - 20px);
  height: calc(100% - 20px); */
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--background-color-c);
}

.menu-content .content-title {
  font-size: 15px;
  font-weight: 500;
}

.menu-content .sub-title {
  font-size: 13px;
  font-weight: 500;
}

.menu-content .theme {
  position: relative;
  display: flex;
  align-items: stretch;
  border-radius: 99px;
  height: 45px;
  padding: 2px;
  border: var(--background-color-e) solid 1.5px;
}

.menu-content .theme .theme-overlay {
  position: absolute;
  /* height: calc(100% - 4px); */
  border-radius: 99px;
  color: transparent;
  background-color: var(--background-color-i);
  transition: 0.2s;
}

.menu-content .theme .theme-btn {
  cursor: pointer;
  flex: 1;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  text-align: center;
  color: var(--text-color);
  border-radius: 99px;
}

.menu-content .theme .theme-btn:hover {
  background-color: var(--background-color-k);
}

.theme .theme-btn.active-theme {
  cursor: default;
  color: var(--background-color-b);
  /* background-color: var(--background-color-i); */
}

/* .theme .theme-btn.active-theme:hover {
  background-color: var(--background-color-i);
} */

.theme .theme-btn .theme-icon {
  font-size: 16px;
}

.theme .theme-btn .theme-check {
  display: none;
}

.theme .theme-btn.active-theme .theme-check {
  display: block;
}

.theme .theme-btn.active-theme .theme-icon {
  display: none;
}

.theme .theme-title {
  font-size: 12px;
  font-weight: 500;
}

.menu-content .background .bg-overview {
  display: none;
  position: relative;
  width: 100%;
  height: 150px;
  padding: 1px;
  border: var(--background-color-h) solid 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.background .bg-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.background .bg-overview .remove-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  transform: translate(8.5px, -8.5px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: var(--background-color-h) solid 2px;
  background-color: var(--background-color-c);
}

.bg-overview .remove-bg .close-icon {
  /* color: rgb(230, 160, 150); */
  color: var(--background-color-);
  font-size: 16px;
  font-weight: bold;
}

.background .bg-preview {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: calc(5px - 2px);
  object-fit: cover;
}

.background .change-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  gap: 5px;
  color: var(--text-color);
  transition: 0.4s;
  background-color: var(--background-color-e);
  /* background-color: #a1c1f4; */
  border-radius: 5px;
}

.background .change-btn:hover {
  background-color: var(--background-color-5);
}

.background .change-btn input {
  display: none;
}

.menu-content .background .bg-icon {
  font-size: 18px;
}

.menu-content .background .bg-title {
  font-size: 12px;
  font-weight: 500;
}

.menu-content .show-shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-shortcut .switch {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  height: 18px;
  padding: 0 2px;
  border-radius: 99px;
}

.show-shortcut .switch input {
  position: absolute;
  opacity: 0;
}

.show-shortcut .switch .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border: #9a9a9a solid 1px;
  border-radius: 99px;
}

.show-shortcut .switch .slider::before {
  position: absolute;
  content: "";
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--background-color-g);
  transition: all ease 0.4s;
}

.switch input:checked+.slider {
  background-color: var(--background-color-i);
}

.switch input:checked+.slider::before {
  width: 14px;
  height: 14px;
  background-color: var(--background-color-j);
  left: 18px;
}

.menu-content .hr {
  width: 100%;
  height: 0.6px;
  background-color: var(--background-color-h);
}

.menu-content .clear-shortcut {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}

.clear-shortcut .clear-content {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  margin: 15px;
  padding: 5px;
  cursor: pointer;
  border-radius: 99px;
  transition: background-color 0.4s;
}

.menu-content .clear-shortcut .clear-content:hover {
  background-color: var(--background-color-k);
}

.clear-shortcut .clear-title {
  font-size: 13px;
  font-weight: 500;
}

.menu-content .clear-icon {
  font-size: 22px;
}

.menu-content .settings {
  display: flex;
  height: 35px;
  gap: 10px;
  align-items: stretch;
}

.menu-content .setting-btn input {
  display: none;
}

.menu-content .setting-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 99px;
  transition: 0.4s;
  color: var(--background-color-0);
  background-color: var(--background-color-i);
}

.menu-content .setting-btn:hover {
  background-color: var(--background-color-4);
}

.menu-content .setting-btn .setting-icon {
  font-size: 17px;
}

.menu-content .setting-btn span {
  font-family: "Poppins";
  font-weight: 500;
}

.menu-content .imp-exp {
  border-radius: 99px;
  font-size: 14px;
}

.menu-end {
  position: relative;
}

.confirm-box {
  /* position: absolute; */
  /* bottom: 10px; */
  position: relative;
  z-index: 2;
  transform: translateX(500px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  /* margin-top: auto; */
  /* margin-bottom: 0; */
  padding: 10px;
  border-radius: 8px;
  transition: 0.4s;
  background-color: var(--background-color-c);
}

.confirm-box.active-confirm {
  transform: translateX(0);
}

.confirm-box .confirm-title {
  font-size: 15px;
  font-weight: 500;
}

.confirm-box .confirm {
  display: flex;
  align-items: stretch;
  height: 35px;
  gap: 10px;
}

.confirm-box .confirm .confirm-btn {
  flex: 1;
}

.confirm-box .confirm-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 99px;
  transition: 0.4s;
  color: var(--background-color-0);
  background-color: var(--background-color-i);
}

.confirm-box .confirm-btn button:hover {
  background-color: var(--background-color-4);
}

.confirm-box .confirm-icon {
  font-size: 15px;
}

.confirm-box .confirm-btn button span {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.menu-status {
  position: absolute;
  cursor: default;
  user-select: none;
  display: flex;
  justify-content: center;
  bottom: 10px;
  margin: 10px;
  padding: 10px;
  margin-bottom: 0;
  width: calc(100% - 20px);
  transition: 0.4s;
  opacity: 0;
}

.menu-status.active-status {
  opacity: 1;
}

.menu-status .status-title {
  text-align: center;
}

.undo-toast {
  position: fixed;
  visibility: hidden;
  bottom: -100px;
  left: 0;
  transform: translate(20px, -20px);
  width: 240px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #353535;
  border-radius: 5px;
  padding: 0 20px;
  transition: 0.4s;
  opacity: 0;
}

.undo-toast.show {
  visibility: visible;
  bottom: 0;
  opacity: 1;
}

.undo-toast.show::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #505050;
  animation: timeout 4s linear 1 forwards;
}

@keyframes timeout {
  to {
    width: 0;
  }
}

.undo-toast span {
  font-size: 14px;
  user-select: none;
}

.undo-toast .undo {
  padding: 3px;
  border-radius: 5px;
  color: rgb(138, 180, 248);
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.undo-toast .undo:active {
  background-color: rgba(68, 85, 110, 0.6);
}

.modal {
  position: fixed;
  left: 0;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--background-color-f);
}

.modal.open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal .modal-content .title {
  font-weight: 500;
}

.modal .modal-content .input-section {
  margin: 20px 0;
}

.modal .modal-content .input-box {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

}

.modal-content .input-box .placeholder {
  font-size: 13px;
  margin: 5px 0;
}

.modal-content .input-box input {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--background-color-b);
  padding: 0 10px;
  height: 35px;
  border: none;
  outline: none;
  color: var(--background-color);
  font-size: 15px;
}

.modal-content .input-box input:focus {
  border-bottom: var(--background-color-i) solid 2px;
}

.modal-content .favicon-box {
  display: flex;
  flex-direction: column;
}

.modal-content .favicon-box .f-title {
  font-size: 13px;
}

.modal-content .favicon-box .favicon-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.modal-content .favicon-icons .favicon {
  padding: 4px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.modal-content .favicon.active-favicon {
  border: 1.5px solid var(--background-color-i);
}

.modal-content .favicon img {
  height: 100%;
}

.modal-content .dropdown .dropdown-box {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.dropdown .dropdown-box .down-arrow {
  font-size: 24px;
  transition: 0.4s;
}

.dropdown .dropdown-content {
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}

.dropdown.active-dropdown .dropdown-box .down-arrow {
  transform: rotate(180deg);
}

.dropdown.active-dropdown .dropdown-content {
  height: 5.30rem;
}

.modal .modal-content .btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-content .btn-container button {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 99px;
}

.modal-content .btn-container .action-btn {
  color: var(--background-color-0);
  background-color: var(--background-color-i);
}

.modal-content .btn-container .cancel-btn {
  background-color: transparent;
  border: var(--background-color-e) 1.5px solid;
  color: var(--background-color-i);
}

.modal-content .btn-container .cancel-btn:hover {
  background-color: var(--background-color-k);
}

.modal-content .btn-container .action-btn:hover {
  background-color: var(--background-color-6);
}

.modal-content .btn-container .action-btn:disabled {
  background-color: var(--background-color-k);
  cursor: default;
  color: var(--background-color-l);
}

.container {
  display: flex;
  justify-content: center;
  /* border: var(--text-color) solid 1px; */
  align-items: flex-start;
  border-radius: 10px;
  margin-top: 20px;
  /* width: 42.70rem; */
  width: 45.20rem;
  height: 24rem;
  overflow-y: auto;
}

.container.hide {
  visibility: hidden;
}

.shortcuts {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  width: 40.20rem;
  /* gap: 20px; */
  gap: 10px;
}

.shortcuts.center {
  justify-content: center;
}

.container {
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.container::-webkit-scrollbar {
  width: 0;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.add-shortcut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 7.5rem;
  padding: 20px 10px;
  border-radius: 5px;
}

.add-shortcut .add-circle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-a);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.4s;
}

.add-shortcut .add-circle .add-icon {
  font-size: 16px;
  color: var(--text-color);
}

.add-shortcut .title {
  width: 100%;
  color: var(--background-color-3);
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.4s;
}

.wrapper {
  cursor: pointer;
}

.wrapper.dragging {
  opacity: 0;
  transition: 'opacity 0.01s ease-in-out'
}

.tooltip {
	display: none;
	position: absolute;
	background-color: var(--background-color-a);
  border: solid 1px var(--text-color);
	color: var(--text-color);
	padding: 5px;
	z-index: 10;
	border-radius: 5px;
  font-size: 14px;
	max-width: 300px;
	word-wrap: break-word;
	pointer-events: none;
}